<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Twitter Positivity Meter</title>
    </head>

    <body>
        <h2>Twitter Positivity Meter</h2>
        <form action="get-tweets" method="post">
            {% csrf_token %}
            <input type="search" name="search-twitter" id="">
            <input type="submit" value="Search">
        </form>
        {% if tweets %}
            <div>
                <ul>
                    {% for tweet in tweets  %}
                        <li>{{ tweet.text }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </body>
</html>
