<!DOCTYPE html>
<html lang="en">
    {% include "main_app/head.html" %}
    <body>
        <h2>Twitter Positivity Meter</h2>
        <span>Alpha Version</span>
        {% comment %} Messages Handeling  {% endcomment %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        <form action="get-tweets" method="post">
            {% csrf_token %}
            <input type="search" name="twitter-username" id="twitter-username-search">
            <input type="submit" value="Search">
        </form>
        <p>
            Type a twitter username in the field above, and you will get a score of his
            account positivity based on the last 100 tweets of the account, you will also
            get some other details, and the 100 tweets.
        </p>
    </body>
</html>
